#skills-section {
	margin-top: 5%;
	margin-bottom: 5%;	
}

div.feature-item i {
    font-size: 100px;
    background: -webkit-linear-gradient(to left, #00cbfe, #00cbfe);
    background: linear-gradient(to left, #00cbfe, #00cbfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px 0;   
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

.capability {
    padding: 30px;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-transition: all .5s;
    transition: all .5s;
    background: #fff;
    border-radius: 10px;
    width: 350px;
    height: 360px;
    vertical-align: top;
    display: inline-block;
    margin: 30px;
}

.capability.title {
    margin-top: 20px;
    font-size: 15pt;
    font-weight: 500;
    display: block;
    line-height: 1.6em;
}

#Capabilities-section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: -webkit-center;
}

#Tools-section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: -webkit-center;
}

#Company-section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: -webkit-center;
}

#Suggestion-section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: -webkit-center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 15%;
    padding: 5px;
    margin: 130px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .columnCompany {
   /* float: left; */
   text-align: -webkit-center;
    width: 15%;
    padding: 1px;
    margin: 15px;
  }